<template name="visualise">
  {{#contentFor "pageHeader"}}
    <a class="brand-logo">&nbsp; visualise</a>
  {{/contentFor}}

  <div class="section">
    <form class="">
      <div class="row">
        <div class="col s12">
          <a href="/createVisualisation" class="right waves-effect waves-purple btn">new visualisation<i class="left material-icons">add</i></a>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
          <input id="nqm-visualisation-search" type="text" required>
          <label for="nqm-visualisation-search">search</label>
        </div>
      </div>
    </form>
  </div>
  <div class="section">
    <div class="row">
      {{#each searchResults}}
        <div class="col s12 m6 l4">
          <div class="card blue-grey darken-1 nqm-feed-card">
            <div class="card-content white-text nqm-feed-card-content">
              <span class="card-title">{{name}}</span>
              <p>{{description}}</p>
            </div>
            <div class="card-action">
              <a href="#">more info</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</template>
