<template name="liveData">
  {{#contentFor "pageHeader"}}
    <a class="brand-logo">live data feeds</a>
  {{/contentFor}}

  {{#contentFor "pageLinks"}}
    <li><a href="/iotHubs" class="waves-effect waves-purple">iot hubs<i class="left material-icons">device_hub</i></a></li>
    <li><a href="/IOTFeed/create" class="waves-effect waves-purple">new feed<i class="left material-icons">add</i></a></li>
  {{/contentFor}}

  {{#each searchResults}}
    <div class="col s12 m6 l4">
      <div id="feed:{{hubId}}:{{id}}" class="card blue-grey darken-1 nqm-dataset-card">
        <div class="card-content white-text nqm-dataset-card-content">
          <span class="card-title">{{name}}</span>
          <p>{{description}}</p>
        </div>
        <div class="card-action">
          <a href="/">visualise</a>
          <a class="right" target="_blank" href="{{queryURL}}/feeds/{{hubId}}/{{id}}">raw</a>
        </div>
      </div>
    </div>
  {{/each}}
</template>
