<template name="manageUsers">
  {{#contentFor "pageHeader" }}
    <a class="brand-logo">trusted users</a>
  {{/contentFor}}

  {{#contentFor "pageLinks" }}
    <li><a href="/createTrustedUser" class="waves-effect waves-purple">add trusted user<i class="left material-icons">add_box</i></a></li>
  {{/contentFor}}

  <div class="nqm-container">
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a href="#pending">pending</a></li>
          <li class="tab col s3"><a href="#trusted">trusted</a></li>
          <li class="tab col s3"><a href="#expired">expired</a></li>
          <li class="tab col s3"><a href="#revoked">revoked</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div id="pending" class="col s12">
        {{#if hasData pending}}
          <table>
            <thead><tr><th>email</th><th>action</th><th>issued</th><th>expires</th></tr></thead>
            <tbody>
            {{#each pending}}
              <tr>
                <td>{{userId}}</td>
                <td><a class="btn nqm-status-btn" data-id="{{id}}" data-status="trusted" href="#">accept</a> <a class="btn nqm-status-btn" data-id="{{id}}" data-status="declined" href="#">decline</a></td>
                <td>{{issued}}</td>
                <td>{{expires}}</td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        {{else}}
          no data found
        {{/if}}
      </div>
      <div id="trusted" class="col s12">
        {{#if hasData trusted}}
          <table>
            <thead><tr><th>email</th><th>action</th><th>issued</th><th>expires</th></tr></thead>
            <tbody>
            {{#each trusted}}
              <tr>
                <td>{{userId}}</td>
                <td><a class="btn nqm-status-btn" data-id="{{id}}" data-status="revoked" href="#">revoke</a></td>
                <td>{{issued}}</td>
                <td>{{expires}}</td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        {{else}}
          no data found
        {{/if}}
      </div>
      <div id="expired" class="col s12">
        {{#if hasData expired}}
          <table>
            <thead><tr><th>email</th><th>action</th><th>issued</th><th>expires</th></tr></thead>
            <tbody>
            {{#each expired}}
              <tr>
                <td>{{userId}}</td>
                <td><a class="btn nqm-status-btn" data-id="{{id}}" data-status="deleted" href="#">delete</a></td>
                <td>{{issued}}</td>
                <td>{{expires}}</td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        {{else}}
          no data found
        {{/if}}
      </div>
      <div id="revoked" class="col s12">
        {{#if hasData revoked}}
          <table>
            <thead><tr><th>email</th><th>action</th><th>issued</th><th>expires</th></tr></thead>
            <tbody>
            {{#each revoked}}
              <tr>
                <td>{{userId}}</td>
                <td><a class="btn nqm-status-btn" data-id="{{id}}" data-status="deleted" href="#">delete</a></td>
                <td>{{issued}}</td>
                <td>{{expires}}</td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        {{else}}
          no data found
        {{/if}}
      </div>
    </div>
  </div>
</template>