/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
html {
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header.nqm-main-layout, main.nqm-main-layout {
    /* leave space for the side nav */
    padding-left: 240px;
}

/* remove space for side nav at 992px */
@media only screen and (max-width : 992px) {
    header.nqm-main-layout, main.nqm-main-layout {
        padding-left: 0;
    }
}

i.material-icons {
    line-height: inherit;
}

ul.side-nav.fixed li#nqm-logo-container  {
    padding: 10px 0px 10px 0px;
    margin-bottom: 5px;
}

#nqm-sideMenu.side-nav.fixed li#nqm-logo-container a {
    font-size: 2em;
}

#nqm-sideMenu.side-nav {
    background-color: inherit;
}

.nqm-svg {
    display: block;
}

.nqm-container {
    width: 99%;
    margin-left:auto;
    margin-right:auto;
}

.nqm-visualisationProgress {
    margin-top: 2%;
}

.nqm-visualisationTitle {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    padding: 0px 10px 0px 10px;
}

.modal.nqm-feedback-modal {
    width: 200px;
}

.modal.nqm-feedback-modal > .modal-content {
    padding: 4px;
}

.nqm-widget-selector-button {
    margin: 5px;
    width: 250px;
    height: 50px;
    padding: 5px;
}

.nqm-widget-selector-button a {
    width: 100%;
}

.dropdown-content.nqm-dropdown li > a, .dropdown-content.nqm-dropdown li > a > i {
    padding: .4rem;
    font-size: 1rem;
}

/*
 * Grid-stack patches.
 * Hide vertical scroll on visualisation cards.
 */
.grid-stack>.grid-stack-item>.grid-stack-item-content.card.card-content {
    overflow-y: hidden;
}

.grid-stack>.grid-stack-item>.grid-stack-item-content.card {
    overflow-y: hidden;
}

.grid-stack-item-content.card .card-content {
    padding: 0;
}

/*
 * d3 stuff
 */
.axis path,
.axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.x.axis text, .y.axis text {
    fill: #aaa;
}

.line {
    fill: none;
    stroke: orange;
    stroke-width: 2;
}

/*
 * MaterializeCSS patches
 */

/* Reduce gap between main action button and actions. */
.fixed-action-btn ul {
    margin-bottom: 0px;
    margin-top: 0px;
}

/* START - Set uniform heights for LI items in side-nav */
ul.side-nav.fixed {
    overflow: hidden;
}

ul.side-nav.fixed li {
    line-height: 44px;
}

ul.side-nav.fixed li a {
    line-height: 44px;
    height: 44px;
    color: inherit;
}

ul.side-nav.fixed:hover {
    overflow-y: auto;
}
/* END - Set uniform heights for LI items in side-nav */