/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
body, html {
    margin: 0;
    height: 100%;
    font-size: 14px;
}

html, body {
    font-family: Roboto;
}

h4 {
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: normal;
    text-transform: uppercase;
}

.main {
}

#react-root {
    height: 100%;
}

.nqm-grid-stack-item {

}

.nqm-visualisationTitle {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    padding: 0px 10px 0px 10px;
}

/*
 * Grid-stack patches.
 * Hide vertical scroll on visualisation cards.
 */
.grid-stack>.grid-stack-item>.grid-stack-item-content.card.card-content {
    overflow-y: hidden;
}

.grid-stack>.grid-stack-item>.grid-stack-item-content.card {
    overflow-y: hidden;
}

.grid-stack-item-content.card .card-content {
    padding: 0;
}


/*
 * d3 stuff
 */
.axis path,
.axis line {
    fill: none;
    stroke: #666;
    shape-rendering: crispEdges;
}

.x.axis text, .y.axis text {
    fill: #666;
    font-size: .8em;
}

.line {
    fill: none;
    stroke: orange;
    stroke-width: 2;
}

