/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
body, html {
    margin: 0;
    height: 100%;
}

.main {
}

#react-root {
    height: 100%;
}