<template name="mainLayout">
    <header>
        <div class="navbar-fixed">
          <nav class="{{theme.mainColour}}" role="navigation">
              <div class="nav-wrapper">
                <a href="#" data-activates="nqm-sideMenu" class="left button-collapse {{theme.menuTextColour}}"><i class="material-icons">menu</i></a>
                {{> yield "pageHeader"}}
              </div>
          </nav>
        </div>
    </header>

  <main class="">
    <div class="nqm-container">
      <ul id="nqm-sideMenu" class="{{theme.sideNav}} side-nav fixed">
        <li id="nqm-logo-container" class="{{theme.mainColour}}"><a class="brand-logo" href="/"><span style="font-weight: bold;">nquiring</span><span style="font-weight: lighter;">toolbox</span></a></li>
        <li><a href="/" class="waves-effect waves-purple">visualise<i class="left material-icons">view_quilt</i></a></li>
        <li><a href="/liveData" class="waves-effect waves-purple">live data<i class="left material-icons">input</i></a></li>
        <li><a href="/datasets" class="waves-effect waves-purple">static data<i class="left material-icons">data_usage</i></a></li>
        <li><a href="#!">Second Sidebar Link</a></li>
        <li class="no-padding">
          <ul class="{{theme.sideNav}} collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header">Dropdown 1</a>
              <div class="{{theme.sideNav}} collapsible-body">
                <ul>
                  <li><a href="#!">First</a></li>
                  <li><a href="#!">Second</a></li>
                  <li><a href="#!">Third</a></li>
                  <li><a href="#!">Fourth</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a class="collapsible-header">Dropdown 2</a>
              <div class="{{theme.sideNav}} collapsible-body">
                <ul>
                  <li><a href="#!">First</a></li>
                  <li><a href="#!">Second</a></li>
                  <li><a href="#!">Third</a></li>
                  <li><a href="#!">Fourth</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li><a href="#!">Final Sidebar Link</a></li>
      </ul>
      {{> yield}}
    </div>
  </main>


    <!--<footer class="page-footer">-->
    <!--<div class="nqm-container">-->
    <!--<div class="row">-->
    <!--<a class="red-text text-darken-4" href="http://nqminds.com">nqminds.com</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</footer>-->

    <ul id='userMenu' class='dropdown-content nqm-dropdown'>
        <li><a><!--<i class="left tiny mdi-action-settings"></i>-->profile</a></li>
        <li class="divider"></li>
        <li><a href="/logout"><!--<i class="left tiny mdi-action-exit-to-app"></i>-->logout</a></li>
    </ul>

</template>

<template name="menuOptions">
    {{#if currentUser}}
      <li class=""><a class="{{theme.menuTextColour}}" href="/visualise"><i class="left tiny mdi-action-view-quilt"></i>visualise</a></li>
      <li class=""><a class="{{theme.menuTextColour}}" href="/feeds"><i class="left tiny mdi-content-archive"></i>data</a></li>
      <li class=""><a class="{{theme.menuTextColour}}" href="/devices"><i class="left tiny mdi-communication-stay-current-portrait"></i>devices</a></li>
      <!--<li class=""><a class="{{theme.menuTextColour}}" href="/about"><i class="left tiny mdi-action-info-outline"></i>about</a></li>-->
    {{/if}}
</template>