<template name="mainLayout">
    <header>
        <div class="navbar-fixed">
          <nav class="{{theme.mainColour}}" role="navigation">
              <div class="nav-wrapper">
                  <a id="logo-container" class="brand-logo right {{theme.mainTextColour}}" href="/"><span style="font-weight: bold;">nquiring</span><span style="font-weight: lighter;">toolbox</span></a>
                  <ul class="left hide-on-med-and-down">
                    {{> menuOptions}}
                    <li class=""><a class="{{theme.menuTextColour}} dropdown-button nqm-user-menu-dropdown" data-activates="userMenu"><i class="left tiny mdi-social-person-outline"></i>{{currentUser.profile.name}}</a></li>
                  </ul>
                  <ul class="{{theme.mainColour}} side-nav" id="nav-mobile" >
                    {{> menuOptions}}
                  </ul>
                  <a href="#" data-activates="nav-mobile" class="button-collapse {{theme.menuTextColour}}"><i class="mdi-navigation-menu"></i></a>
              </div>
          </nav>
        </div>
    </header>

    <main>
        <div class="nqm-container">
          {{> yield}}
        </div>
    </main>

    <!--<footer class="page-footer">-->
    <!--<div class="nqm-container">-->
    <!--<div class="row">-->
    <!--<a class="red-text text-darken-4" href="http://nqminds.com">nqminds.com</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</footer>-->

    <ul id='userMenu' class='dropdown-content nqm-dropdown'>
        <li><a><!--<i class="left tiny mdi-action-settings"></i>-->profile</a></li>
        <li class="divider"></li>
        <li><a href="/logout"><!--<i class="left tiny mdi-action-exit-to-app"></i>-->logout</a></li>
    </ul>

</template>

<template name="menuOptions">
    {{#if currentUser}}
      <li class=""><a class="{{theme.menuTextColour}}" href="/visualise"><i class="left tiny mdi-action-view-quilt"></i>visualise</a></li>
      <li class=""><a class="{{theme.menuTextColour}}" href="/feeds"><i class="left tiny mdi-content-archive"></i>data</a></li>
      <li class=""><a class="{{theme.menuTextColour}}" href="/devices"><i class="left tiny mdi-communication-stay-current-portrait"></i>devices</a></li>
      <!--<li class=""><a class="{{theme.menuTextColour}}" href="/about"><i class="left tiny mdi-action-info-outline"></i>about</a></li>-->
    {{/if}}
</template>