<template name="createAccount">
  <div class="container">
    <div class="section">
      <div class="row">
        <h1>nqminds account</h1>
      </div>
      <div class="row">
        <p>Choose an nquiringminds account name</p>
        <div class="input-field col s12">
          <!--<i class="material-icons prefix">account_box</i>-->
          <input id="account" type="text" value="{{suggestedAccount}}" />
          <label for="account" class="active" >account name</label>
        </div>
      </div>
      <div class="row">
        <a class="btn-large" id="createButton">create account</a>
      </div>
    </div>
  </div>
</template>